.page-main {
  overflow: hidden;
}

.page-main__title {
  .container;
  .title(36px; 60px; 28px);

  &--form {
    margin-bottom: 25px;
  }
}

@media (min-width: @tablet-width) {
  .page-main__title {
    margin-bottom: 83px;
    font-size: 60px;

    &--form {
      margin-bottom: 55px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    margin-bottom: 82px;

    &--form {
      margin-bottom: 55px;
    }
  }
}
