.page-main__title {
  margin: 0;
  padding: 22px 6.25%;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    margin-top: 65px;
    margin-bottom: 85px;
    padding-right: 3.91%;
    padding-left: 3.91%;
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-right: 7.64%;
    padding-left: 7.64%;
  }
}
