.page-footer {
  padding: 0  6.25%;
  background-color: @bg-dark;
}

.page-footer__logo {
  display: block;
  min-height: 95px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;

  &:hover .page-footer__logo-text,
  &:focus .page-footer__logo-text {
    opacity: 0.8;
  }

  &:active .page-footer__logo-text {
    opacity: 0.3;
  }
}

.page-footer__social {
  width: 46.43%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 21px;
  padding-bottom: 21px;
}

.page-footer__copyright {
  padding: 22px 0;
  border-top: 1px solid #d9d9d9;
}
