.page-header {
  margin-bottom: 22px;

  &--inner {
    margin-bottom: 0;
  }
}

.page-header__top-part {
  .container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  .clicked;
}

.page-header__promo {
  .container;
}


@media (min-width: @tablet-width) {
  .page-header {
    margin-bottom: 0;
    padding-top: 24px;

    &--inner {
      margin-bottom: 65px;
    }
  }

  .page-header__wrap {
    .container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .page-header__top-part {
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__promo {
    width: 100%;
    margin: 0;
    margin-top: 60px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
    margin-bottom: 80px;
    padding-top: 54px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 50%;
      height: 100%;
      background-color: #64a83c;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
    }

    &--inner::after {
      display: none;
    }
  }

  .page-header__nav {
    width: 50%;
  }

  .page-header__promo {
    margin-top: 30px;
  }
}
