.programs {
  .container;
  margin-bottom: 20px;
}

.programs__list {
  .list-reset;
}

.programs__item {
  margin-bottom: 20px;
  padding: 30px 20px 0;
  background-color: @bg-dark;

  &:last-child {
    margin-bottom: 0;
  }
}

.programs__item-title {
  .text(24px; 37px; normal);
  margin: 0;
  margin-bottom: 30px;
  padding-left: 92px;
  text-transform: uppercase;
}

.programs__description {
  margin: 0;
  padding-bottom: 25px;
  font-family: @font-second;
  color: @text-gray;
  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  display: block;
  padding: 20px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @text-dark;

  .clicked;
}

@media (min-width: @tablet-width) {
  .programs {
    margin-bottom: 50px;
  }

  .programs__item {
    margin-bottom: 30px;
    padding-top: 80px;
    padding-right: 283px;
    padding-bottom: 60px;
    padding-left: 53px;

    &--pro {
      padding-right: 311px;
    }
  }

  .programs__item-title {
    padding-left: 0;
    font-size: 36px;
  }

  .programs__description {
    margin-bottom: 60px;
    padding-bottom: 0;
    border: none;
  }

  .programs__link {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .programs {
    margin-bottom: 80px;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
  }

  .programs__item {
    width: 46.72%;
    margin-bottom: 0;
    padding-right: 53px;
  }

  .programs__item-title {
    padding-left: 164px;
  }
}
