.promo {
  display: flex;
  flex-direction: column;
  min-height: 480px;
  padding-top: 27px;
  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(#65a93c 305px, @bg-light 305px);
  background-repeat: no-repeat;
  background-position: center 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image:
      url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(#65a93c 305px, @bg-light 305px);
    background-size:
      320px 305px,
      auto auto;
  }
}

.promo__title {
  .title(36px; 36px; 25px);
  margin-right: auto;
  margin-left: auto;
  max-width: 390px;
  text-align: center;
  color: @text-light;
}

.promo__slogan {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @text-light;
}

.promo__img {
  display: block;
  margin: 0 auto;
}

.promo__btn {
  margin-top: auto;
}

@media (min-width: @tablet-width) {
  .promo {
    position: relative;
    min-height: 807px;
    padding-top: 0;
    background-image: none;
  }

  .promo__title {
    width: 570px;
    max-width: none;
    margin: 0;
    margin-bottom: 40px;
    padding-left: 12.3%;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: @text-dark;
  }

  .promo__slogan {
    margin-bottom: 20px;
    padding-left: 12.3%;
    font-size: 20px;
    line-height: 20px;
    color: @text-dark;
    text-align: left;
  }

  .promo__btn {
    position: absolute;
    left: 12.3%;
    bottom: 528px;
    width: 245px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    min-height: 554px;
    padding-left: 80px;
  }

  .promo__title {
    width: 480px;
    padding-top: 80px;
    padding-left: 0;
  }

  .promo__slogan {
    width: 480px;
    margin-bottom: 54px;
    padding-left: 0;
  }

  .promo__img {
    position: absolute;
    top: 0;
    left: 450px;
  }

  .promo__btn {
    position: static;
    margin-top: 0;
  }
}
