.promo {
  margin-bottom: 22px;
  padding: 30px 20px 0;
  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(#65a93c 305px, @bg-light 305px);
  background-repeat: no-repeat;
  background-position: center 0;
}

.promo__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  color: @text-light;
}

.promo__slogan {
  display: block;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @text-light;
}
