.site-list {
  .list-reset;
}

.site-list__link {
  .container;
  .text(20px; 20px; 500);
  display: block;
  padding-top: 23px;
  padding-bottom: 22px;
  text-align: center;
  text-transform: uppercase;
  color: @text-dark;
  border-bottom: 1px solid #e6e6e6;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  .clicked;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .site-list__item {
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-list__link {
    .text(18px; 25px; normal);
    position: relative;
    margin: 0;
    padding: 8px 0;
    border: none;

    &--current::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #68b738;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;

    &--index-page {
      color: @text-light;
    }

    &--index-page&--current::after {
      background-color: #ffffff;
    }
  }

  .site-list__item {
    margin-right: 32px;
  }
}
