.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.social__link {
  display: block;
  width: 22px;
  font-size: 0;
  line-height: 0;
  text-align: center;

  & path,
  & circle {
    fill: #666666;
  }

  &:hover path,
  &:hover circle,
  &:focus path,
  &:focus circle {
    fill: #68b738;
  }

  .clicked;
}
