.programs {
  .container;
  margin-bottom: 20px;
}

.programs__list {
  .list-reset;
}

.programs__item {
  position: relative;
  margin-bottom: 22px;
  padding: 30px 20px 0;
  background-color: @bg-dark;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--slim::after {
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
  }

  &--pro::after {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 29px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}

.programs__item-title {
  .title(24px; 37px; 30px);
  padding-left: 71px;
  text-transform: uppercase;
}

.programs__description {
  margin: 0;
  padding-bottom: 20px;
  font-family: @font-second;
  color: @text-gray;
  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  position: relative;
  display: inline-block;
  margin-right: 50px;
  padding: 20px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @text-dark;

  .clicked;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    width: 20px;
    height: 3px;
    background-color: @text-dark;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -38px;
    border: 5px solid @text-dark;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: translateY(-50%);
  }

  &:hover::before,
  &:focus::before {
    width: 30px;
    right: -40px;
  }

  &:hover::after,
  &:focus::after {
    right: -50px;
  }
}

@media (min-width: @tablet-width) {
  .programs {
    margin-bottom: 45px;
  }

  .programs__item {
    margin-bottom: 29px;
    padding-top: 77px;
    padding-right: 283px;
    padding-bottom: 58px;
    padding-left: 53px;

    &--pro {
      padding-right: 311px;
    }

    &::before {
      top: 92px;
      right: 61px;
      left: auto;
      width: 200px;
      height: 200px;
    }

    &::after {
      left: auto;
    }

    &--slim::after {
      top: 81px;
      right: 92px;
      width: 140px;
      height: 194px;
    }

    &--pro::after {
      top: 136px;
      right: 26px;
      width: 270px;
      height: 112px;
    }
  }

  .programs__item-title {
    margin-bottom: 25px;
    padding-left: 0;
    font-size: 36px;
  }

  .programs__description {
    margin-bottom: 56px;
    padding-bottom: 0;
    border: none;
  }

  .programs__link {
    padding: 0;
    font-size: 20px;
    line-height: 20px;

    &::before {
      right: -44px;
    }

    &::after {
      right: -54px;
    }

    &:hover::before,
    &:focus::before {
      width: 30px;
      right: -54px;
    }

    &:hover::after,
    &:focus::after {
      right: -64px;
    }
  }
}

@media (min-width: @desktop-width) {
  .programs {
    margin-bottom: 72px;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
  }

  .programs__item {
    width: 46.72%;
    margin-bottom: 0;
    padding-top: 75px;
    padding-right: 53px;

    &::before {
      top: 47px;
      left: 52px;
      right: auto;
      width: 100px;
      height: 100px;
    }

    &::after {
      right: auto;
    }

    &--slim::after {
      top: 41px;
      left: 66px;
      width: 70px;
      height: 97px;
    }

    &--pro::after {
      top: 69px;
      left: 34px;
      width: 134px;
      height: 56px;
    }
  }

  .programs__item-title {
    margin-bottom: 76px;
    padding-left: 161px;
  }

  .programs__description {
    margin-bottom: 29px;
  }
}
